.transaction-history {
    width: 450px;
    border: 2px solid rgb(2, 83, 154);
    text-align: center;
}

thead {
    background-color: rgb(2, 83, 154);
    color: white;
    font-size: 20px;
    height: 40px;
}

tr {
    font-size: 20px;
    height: 30px;
}

tr:nth-child(2n) {
    background-color: #f1f1f1;
  }