.transaction-history {
    width: 500px;
    border: 2px solid rgb(2, 83, 154);
    text-align: center;
}

thead {
    background-color: rgb(2, 83, 154);
    color: white;
    font-size: 25px;
    height: 50px;
}

tr {
    font-size: 25px;
    height: 35px;
}

tr:nth-child(2n) {
    background-color: #f1f1f1;
  }